<!-- Made a comment partial to extract showing all the comments for the article -->
<p>
	<strong>Commenter:</strong>
	<%=comment.commenter %>
</p>

<p>
	<strong>Comment:</strong>
	<%= comment.body %>
</p>